#email {background-color: lightgray;
 width: 80%;
}


#submit_button {
background-color:black !important;
 color: white !important;
 width: 60% !important;
}


#facebook_img {
	border: 0px !important;
}


.vertical-line {
width: 1px;
 background-color:#000;
  position:absolute;
 top: 0;
 bottom: 4px;
 left: 40%;
}


.vertical-line div {
position: absolute;
	top: 40%;
right: -1000%;
	background-color: rgb(248, 249, 250) !important;
}


.container-parent {
width: 65%;
margin-top: 5%;
padding-top: 10px;
padding-bottom: 10px;
}